<h3 class="list-hd">Questions List</h3>
<h3 class="search">
    <input type="search" placeholder="Seach results" ng-model="searchResults">
</h3>
<br><br>
<div class="clearfix"></div>
<div class="row align-items-center mx-auto list-hr" ng-repeat="question in questions | filter:searchResults">
    <h6 class="col-12" ng-click="viewQuestion(question)">
        {{ question.id }} - {{ question.question }}
    </h6>
    <div class="clearfix"></div>
    <hr class="col-sm-1 mr-1"><span class="separator">//</span><hr class="col-sm-1 ml-1">
</div>
<button type="button" name="button" class="btn btn-primary load-records" ng-click="loadMoreRecords()" ng-show="!emptyList">LOAD MORE</button>
<br>
