<h3 class="list-hd">List of Questions</h3>
<br><br>
<div class="row align-items-center mx-auto list-hr" ng-repeat="question in questions">
    <h6 class="col-sm-12">
        <ol><li>{{ question.question }}</li></ol>
    </h6>

    <div class="col-sm-6">
        <div ng-repeat="choice in question.choices">
            <p>{{ choice.choice }} - {{ choice.votes }} votes</p>
        </div>
    </div>
    <div class="col-sm-6">
        <a href="{{ question.image_url }}" target="_blank">
            <img src="{{ question.thumb_url }}" alt="">
        </a>
    </div>
    <p class="col-sm-12">Published at {{ question.published_at }}</p>
    <div class="clearfix"></div>
    <hr>
</div>
